h1 {
    text-align: center;
}

p {
    text-align: center;
}

.row {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 1040px) {
    .row {
        flex-direction: column;
        width: 
        
    }
}
@media screen and (max-width: 1040px) {
    .column {
        width: 100%;
    }
} 



/* @media screen and (max-width: 1040px) {
    div.row { float:left;
    }
} */

.column {
    border-radius: 20px;
    border: solid black 2px;
    width: 20%;
    /* float: left; */
    /* padding-left: 8%; */
    /* height: 584px; */
    flex-direction: column;
    display:flex;
    align-items: center;
    

}

img {
    /* -width: 80%;
    max-height: 80%; */
    /* display: table; */
    aspect-ratio: 1 / 1;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50px;
    border: solid black 2px;
    
}

.worm {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blue;
}

.warthog {
    color: blueviolet;
    background-color: blanchedalmond;
}
.panda{
    background-color: brown;
}
.kraken{
    background-color: darkslategrey;
}

.worm a {
    border: solid black 2px;
    color: red;
}

.panda ol {
    color:blanchedalmond
}

.kraken p {
    font-size: 18px;
}

.imgholder {
    /* width: 75%;
    margin-left: auto;
    margin-right: auto; */
}

/* @media screen and (max-width: 500px) {
    div:{ float:left;
    }
} */